* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background-color: #000;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.logo {
    width: 50px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    list-style-type: none;
    list-style: none;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.content .text {
    width: 40%;
    color: #fff;
}

.text h2 {
    font-size: 20px;
    text-transform: uppercase;
}
.text p{
    font-size: 18px;
    margin: 20px 0;
}

.content .text a {
    text-decoration: none;
    background: #fff;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
}


.content .image {
    width: 30%;
}

.content .image img {
    width: 180px;
}

.icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.icons img {
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}

.icons img:hover{
    transition: 0.5s;
    transform: scale(1.2);
}